.pokemonList {
  text-align: center;
  padding: 2rem;
  background-color: white;
  color: #222;
  min-height: 100vh;
  
  /* Fondo dinámico desde imagen local */
  background-image: url('/Fondo Pantalla Pokedex.jpg'); /* Cambia esta ruta */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition: background-image 0.5s ease-in-out;
}

/* Contenedor de carga de imagen */
.uploadContainer {
  margin-bottom: 1rem;
}

.uploadContainer input {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.filtersWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* Encabezado con icono y título */
.pokemon-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 2rem;
}

.pokeball-icon {
  width: 40px;
  height: 40px;
}

.pokedex-title {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 15px; 
}

/* Contenedor de la barra de búsqueda y filtros */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

/* Barra de búsqueda */
.searchBar {
  width: 60%;
  max-width: 300px;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  text-align: center;
  background-color: #f8f8f8;
  color: #222;
}

/* Contenedor de la lista de Pokémon */
.pokemonGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;
  padding: 1rem;
}

/* Tarjeta de cada Pokémon */
.pokemonCard {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  text-decoration: none;
  color: #222;
  width: 150px;
  text-align: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.pokemonCard:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Imagen de Pokémon */
.pokemonImage {
  width: 100px;
  height: 100px;
}

/* Nombre y número */
.pokemonName {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.pokemonNumber {
  font-size: 0.9rem;
  color: #000000;
}

.resetButton {
  background-color: #ffffff;
  color: #000;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.resetButton:hover {
  background-color: #ffaa00;
}

/* Responsividad */
@media (max-width: 1000px) {
  .pokemonGrid {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .pokemonGrid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .controls {
    flex-direction: column;
    gap: 0.5rem;
  }

  .searchBar {
    width: 100%;
  }

  .pokemonGrid {
      grid-template-columns: repeat(1, 1fr);
  }
}
